{% extends 'marketplace/layout.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
    login
{% endblock %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
    <div class="top-nav-bar" style="background-color: #33bfb4; width: 100%;"> <!-- Top Bar --></div> 
{% endblock %}

{% block body %}
    <!--------------------------  log in ----------------------->
    <div class="login-page">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'marketplace/images/logo.png' %}" width="100%">
                </div>

                <div class="col">
                    <div class="form-container" style="background-color: #eff5f5;">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="Indicator">
                        </div>

                        <form id="LoginForm" action="{% url 'login' %}" method="post">
                            {% if login %}
                                <div id="msg"> {{ message }} </div>
                            {% else %}
                                <div></div>
                            {% endif %}
                            <input type="text" name="username" placeholder="Username" id="LogEmail" required>
                            <input type="password" name="password" placeholder="Password" id="LogPass" required>
                            <!-- {{ user }}
                            <button>
                                <a href="{% provider_login_url 'facebook' method='oauth2' %}">
                                    facebook-login
                                </a>
                            </button> -->
                            <input type="submit" value="Login" class="btn btn-outline-secondary">
                            <a href="#" style="text-decoration: none; color: #06b4a6;">Forget your password?</a>
                        </form>
                        
                        <form id="RegForm" action="{% url 'register' %}" method="post">
                            {% if login %}
                                <div></div>
                            {% else %}
                                <div id="msg"> {{ message }} </div>
                            {% endif %}
                            <input type="text" name="username" placeholder="Username" id="RegUser" required>
                            <input type="email" name="email" placeholder="Email" id="RegEmail" required>
                            <input type="password" name="password" placeholder="Password" id="RegPass" required>
                            <input type="password" name="confirm" placeholder="Confirm Password" id="RegPass1" required>
                            <input type="submit" value="Register" class="btn btn-outline-secondary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!------------------------- Js for Toggle Form --------------------------->
    <script>
        var LoginForm = document.getElementById("LoginForm")
        var RegForm = document.getElementById("RegForm")
        var Indicator = document.getElementById("Indicator")

        function register() {
            RegForm.style.transform = "translateX(-300px)";
            LoginForm.style.transform = "translateX(-300px)";
            RegForm.style.width = "300px";
            document.getElementById("LogEmail").value = '';
            document.getElementById("LogPass").value = '';
            Indicator.style.transform = "translateX(106px)";
        }

        function login() {
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            document.getElementById("RegEmail").value = '';
            document.getElementById("RegUser").value = '';
            document.getElementById("RegPass").value = '';
            document.getElementById("RegPass1").value = '';
            Indicator.style.transform = "translateX(0px)";
        }
    </script>

    {% if login %}
        <script> login(); </script>
    {% else %}
        <script> register(); </script>
    {% endif %}

{% endblock %}

{% block footer %}<hr>{% endblock %}
