.account
{
    margin-bottom: 60px;
}

.charge
{
    position: fixed;
    margin-right: 20px;
    padding: 0 20px;
    width: 25%;
    height: 170px;
    border-radius: 10px;
    background-color: #33bfb4;
    color: #fff;
}

.charge h3
{
    font-size: 35px;
    text-align: right;
}

.line
{
    display: inline-block;
}

.row1
{
    background-color: #eff5f5; 
    width: 100%; 
    height: 50px; 
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
}

.row2
{
    background-color: #eff5f5; 
    width: auto; 
    height: auto; 
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}




