{% extends 'marketplace/layout.html' %}
{% load static %}

{% block title %}
Pay using PayPal
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'marketplace/cart.css' %}">
{% endblock %}

{% block navbar %}
    <!-- Nav Bar -->
    <div class="top-nav-bar" style="background-color: #33bfb4; width: 100%; text-align: center;">
        <a href="{% url 'index' %}" style="float: left; color: white; text-decoration: none; font-size: 30px; padding: 12px 12px 12px 0px;">
            &nbsp;&nbsp;<i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <p style="color: #fff; font-size: 30px; padding: 14px;">
            <i class="fas fa-shopping-basket fa-md"></i> Pay using PayPal
        </p>
    </div>
{% endblock %}

{% block body %}
    <h1>Your payment was successful</h1>
    <p>Your payment has been successfully received.</p>
{% endblock %}

{% block footercss %}
    style="bottom: 0;position: fixed; height: 60px; width: 100%;"
{% endblock %}

{% block pcss %}
    style="padding: 20px;"
{% endblock %}
